.TextAcquired{
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    color: goldenrod; 
}

.GatherBar {
    justify-content: flex;
    flex-direction: row;
}

.Margin {
    text-align: center;
    margin-top: 30px;
}