* {
    margin: 0;
    padding: 0;
}

.areaheader {
    min-width: fit-content;
    max-width: auto;
    background-color: lightcyan;
    display: flex;
    flex-direction: row;
    text-align: right;
    justify-content: space-around;
    padding: 10px;
    font-size: 28px;
}

.home{
    color: blue;
}

.links {
    color: deepskyblue;
}

a:link {
    text-decoration: none;
}

