.h1detalhes {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: tomato;
    text-align: left;
}

.imgdetalhes {
    float: left;
    padding: 1.25rem;
    background-color: darksalmon;
    border-radius: 0.0625rem;
}

.h3detalhes {
    text-align: justify;
    text-align: left;
    font-size: 1.875rem;
}

.linkcadastro{
    text-decoration: none;
}