.h1 {
    text-align: center;
    background-color: lightblue;
    display: flex;
}

.h2{
    text-align: center;
    background-color: lightblue;
    display: flex;
}

.h3 {
    text-align: center;
    background-color: lightblue;
    display: flex;
}